body
{
    background: url(https://cdn.pixabay.com/photo/2014/05/02/21/50/laptop-336378_960_720.jpg) no-repeat center center fixed;
    -webkit-background-size:cover;
    background-size: cover;
    font-family: 'Balsamiq Sans', cursive;
}
.rowheight 
{
    height:500px;
}

h1
{
    color:#000;
    font-size:2.5em;
}
.bg
{
    background-color:#c1c1c1;
    opacity:0.8;
    margin-top: 40px;
}
p
{
font-size: 18px;
padding: 10px;
}
.man{
    margin-top: 40px;
}
.footer
{
    background-color: white;
    position: fixed;
    bottom: 0;
}
